{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
    <head><title>Igbo Alphabets</title></head>
    <body>
        <h1> List of Igbo Alphabets</h1>
        <ul>
            {% for letter in alphabets %}
            <li>
                <strong>{{ letter.alphabet }}</strong> - {{ letter.name }} - {{ letter.sound }}
                {% if alphabet.sound_flie %}
                 <audio controls>
                    <source  src="{{ alphabet.sound_flie.url }}" type="audio/mpeg">
                 </audio>
                 {% endif %}
                </li>
                {% empty %}
                    <li>No alphabets found</li>
                {% endfor %}
            </ul>
                <a href="{% url 'home' %}">Back to Home</a>
    </body>
</html>
{% endblock %}