{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="bg-bg text-center py-10">
    <h1 class="text-3xl font-bold text-textbase">Welcome to the Igbo Learning App</h1>
    <ul class="mt-4 space-y-2">
      <li>
        <a href="{% url 'alphabet_list' %}" class="text-primary underline hover:text-indigo-800">
          View Igbo Alphabets
        </a>
      </li>
      <li>
        <a href="{% url 'word_list' %}" class="text-primary underline hover:text-indigo-800">
          View Igbo Words
        </a>
      </li>
        <li>
        <a href="{% url 'flashcards' %}" class="text-primary underline hover:text-indigo-800">
          View Flashcards
        </a>
      </li>
    </ul>
    {% comment %} <h1 class="text-2xl font-bold text-accent mt-10">
      If this is red and centered on a blue background, Tailwind works!
    </h1> {% endcomment %}
    </div>
{% endblock %}