<!DOCTYPE html>
<html>
    <head><title>Igbo Words</title></head>
    <body>
        <h1>List of Igbo Words</h1>
        <h2>Igbo Words</h2>

        <ul>
            {% for word in words %}
            <a href="{% url 'word_detail' slug=word.slug %}">
            <strong>{{ word.word }}</strong>
            </a>: {{ word.meaning }}
            <em>{{ word.example_sentence }}</em>
            <li>
                <strong>{{ word.word }}</strong>: {{ word.meaning }}<br>
                {% if word.sound_file %}
                <br>
                <audio controls>
                    <source src="{{ word.sound_file.url }}" type="audio/mpeg">
                </audio>
                {% endif %}

                {% if word.dialect_words.all %}
                    <p><strong>Dialect Variants:</strong></p>
                    <ul>
                        {% for  dialect_word in word.dialect_words.all %}
                            <li>
                                {{ dialect_word.dialect }}: {{ dialect_word.spelling }}
                                {% if dialect_word.audio_pronounciation %}
                                    <br>
                                    <audio controls>
                                        <source src="{{ dialect_word.audio_pronounciation.url }}" type ="audio/mpeg">
                                    </audio>
                                {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p><em>No Dialect variants yet.</em></p>
                    {% endif %}
            </li>
            {% empty %}
            <li>No words found.</li>
            {% endfor %}
        </ul>
        
        <a href="{% url 'home' %}">Back to Home</a>    
    </body>
</html>