{% extends 'base.html' %}
{% block content %}
<div class="max-w-4xl mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-primary mb-6">List of Igbo Words</h1>
        

        <ul class="space-y-6">
            {% for word in words %}
            <li class="bg-white shadow-md p-4 rounded-lg border border-gray-200">
                <!-- word and link to detail-->
            <a href="{% url 'word_detail' slug=word.slug %}" class="text-xl font-semibold text-primary hover:underline">
                {{ word.word }}
            </a>
            <p class="text-gray-700 mt-1">{{ word.meaning }} </p>
            
            <!-- Example Sentence -->
            {% if word.example_sentence %}
                <p class="text-sm italic text-gray-600 mt-2">
                    "{{ word.example_sentence }}"
                </p>
            {% endif %}
            
            <!-- Word Audio -->
                {% if word.sound_file %}
                <audio controls class="mt-2 w-full">
                    <source src="{{ word.sound_file.url }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                {% endif %}

                <!-- Dialect Variants-->
                {% if word.dialect_words.all %}
                <div class="mt-4">
                    <p class="font-medium text-gray-800">Dialect Variants:</p>
                    <ul class="mt-1 space-y-1 list-disc list-inside text-sm text-gray-700">
                        {% for  dialect_word in word.dialect_words.all %}
                            <li>
                                <span class="font-semibold">{{ dialect_word.dialect }}:</span>  {{ dialect_word.spelling }}
                                
                                {% if dialect_word.audio_pronounciation %}
                                   
                                    <audio controls class="mt-1 w-full">
                                        <source src="{{ dialect_word.audio_pronounciation.url }}" type ="audio/mpeg">
                                    </audio>
                                {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% else %}
                        <p><em>No Dialect variants yet.</em></p>
                    {% endif %}
                </li>
            {% empty %}
            <li class="text-sm text-gray-500">No words found.</li>
            {% endfor %}
        </ul>
        
        <div class="mt-6">
    <a href="{% url 'home' %}" class="inline-block text-sm text-white bg-primary hover:bg-indigo-600 px-4 py-2 rounded">
      ← Back to Home
    </a>
  </div>
</div>

{% endblock %}
